.toc ul li {
    margin: 0;
}

.toc ul {
    list-style-type: "λ>";
    margin: 0;
}

.toc a {
    text-decoration: none;
}

.light {
  --active-toc-li-color: black;
}

.dark {
  --active-toc-li-color: white;
}

.toc a.active {
    color: var(--active-toc-li-color);
}
